@import "../bootstrap/variables";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth;
  scrollbar-color: $black;
  scrollbar-width: thin;
  font-size: 16px;
  @media (min-width: 1600px) {
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
  @media (min-width: 2000px) {
    font-size: 22px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Movement";
  src: url("/assets/MovementV.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: "Movement";
  background-color: black;
  padding: 0;
  overflow-x: hidden;
  color: $white;
  cursor: none;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("/assets/pattern.jpg");
  background-attachment: fixed;
  background-size: 31.25rem;
}

a, input[type="checkbox"] {
  cursor: none !important;
}

/* purgecss ignore */
::-webkit-scrollbar {
  width: 0.375rem;
}
/* purgecss ignore */
::-webkit-scrollbar-track {
  background: rgba(94, 94, 94, 0.5);
}
/* purgecss ignore */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

::-moz-selection {
  color: $white;
  background: $gray-900;
}

::selection {
  color: $white;
  background: $gray-900;
}

.cursor {
  position: fixed;
  background-color: $white;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 100%;
  z-index: 1;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
  transform: scale(1);
  will-change: left, top;

  &.active {
    transform: scale(0.5);
  }
}

.cursor-follower {
  position: fixed;
  border: 0.0625rem solid $white;
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
  transform: translate(0.1875rem, 0.1875rem);
  will-change: left, top;

  &.active {
    opacity: 1;
    transform: scale(3);
  }
}

img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

nav {
  position: fixed;
  height: 4.375rem;
  width: 100%;
  z-index: 10;
  .progress {
    width: 100%;
    height: 0.1875rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    .progress-bar {
      height: 0.25rem;
      background-color: $white;
      width: 0%;
    }
  }
  .container {
    position: relative;
    .logo {
      a {
        .logo-title {
          font-weight: 700;
          font-variation-settings: "wght" 700, "SPAC" 100;
          letter-spacing: 0.0625rem;
          color: $white;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .outer-menu {
      z-index: 1;
      .checkbox-toggle {
        position: absolute;
        top: 0.8125rem;
        right: 0.9375rem;
        z-index: 2;
        width: 2.5rem;
        height: 2.5rem;
        opacity: 0;
        &:checked {
          + {
            .hamburger {
              > div {
                transform: rotate(135deg);
                &:before {
                  top: 0;
                  transform: rotate(90deg);
                }
                &:after {
                  top: 0;
                  transform: rotate(90deg);
                  opacity: 0;
                }
              }
            }
          }
          ~ {
            .menu {
              pointer-events: auto;
              visibility: visible;
              > div {
                transform: scale(1);
                transition-duration: 0.75s;
                > div {
                  opacity: 1;
                  transition: opacity 0.4s ease 0.4s;
                }
              }
            }
          }
          &:hover {
            + {
              .hamburger {
                > div {
                  transform: rotate(225deg);
                }
              }
            }
          }
        }
        &:hover {
          + {
            .hamburger {
              box-shadow: inset 0 0 0.625rem rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
      .hamburger {
        position: absolute;
        top: 0.8125rem;
        right: 0.9375rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5em;
        border-radius: 0 0.12em 0.12em 0;
        transition: box-shadow 0.4s ease;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          position: relative;
          flex: none;
          width: 100%;
          height: 0.125rem;
          background: $white;
          transition: all 0.4s ease;
          display: flex;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -0.625rem;
            left: 0;
            width: 100%;
            height: 0.125rem;
            background: inherit;
            transition: all 0.4s ease;
          }
          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -0.625rem;
            left: 0;
            width: 100%;
            height: 0.125rem;
            background: inherit;
            transition: all 0.4s ease;
            top: 0.625rem;
          }
        }
      }
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
        backface-visibility: hidden;
        outline: 0.0625rem solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          width: 250vw;
          height: 250vw;
          color: $white;
          backdrop-filter: blur(0.625rem);
          -webkit-backdrop-filter: blur(0.625rem);
          background: rgba(0, 0, 0, 0.5);
          @supports not (backdrop-filter: blur(0.625rem)) {
            background: rgba(0, 0, 0, 0.8);
          }
          border-radius: 50%;
          transition: all 0.4s ease;
          flex: none;
          transform: scale(0);
          backface-visibility: hidden;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
            overflow-y: auto;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            > ul {
              list-style: none;
              padding: 0 1em;
              margin: 0;
              display: block;
              max-height: 100vh;
              > li {
                padding: 0;
                margin: 0.5rem;
                font-size: 1.5rem;
                display: block;
                > a {
                  position: relative;
                  display: inline;
                  transition: color 0.4s ease;
                  -webkit-text-stroke: $white;
                  color: transparent;
                  -webkit-text-stroke-width: 0.0625rem;
                  font-variation-settings: "wght" 800, "SPAC" 100;
                  @supports not (font-variation-settings: normal) {
                    font-weight: 600;
                  }
                  font-size: 3rem;
                  &:hover {
                    color: $white;
                    text-decoration: none;
                    -webkit-text-stroke-width: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  nav {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 100%);
    .outer-menu .menu>div>div>ul>li>a {
      font-size: 2rem !important;
    }
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.section {
  min-height: 100vh;
  padding: 4.375rem 0;
  position: relative;
  display: flex;
  align-items: center;
  .title {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: "wght" 700, "SPAC" 100;
  }
  .overlay-text {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 0.0625rem;
    font-variation-settings: "wght" 800, "SPAC" 100;
    @supports not (font-variation-settings: normal) {
      font-weight: 700;
    }
    font-size: 10rem;
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    line-height: 1;
    animation: flicker 10s ease-in-out infinite alternate;
  }
  .line {
    width: 10rem;
    height: 0.125rem;
    margin: 0;
    background-color: $white;
  }
}

@media (max-width: 767px) {
  .section {
    min-height: unset;
  }
}

.divider-100 {
  height: 6.25rem;
}

.main-section {
  min-height: 100vh !important;
  p {
    text-align: center;
    font-family: "Karla";
    font-weight: 700;
    font-size: 1.5rem;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-variation-settings: "wght" 600, "SPAC" 100;
    font-size: 7rem;
    line-height: 1;
  }
  .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    text-align: center;
    & > *:hover {
      color: $white;
      opacity: 0.8;
    }
    .mouse {
      position: relative;
      display: block;
      width: 1.0625rem;
      height: 2.125rem;
      margin: 0 auto 0.625rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 0.0625rem solid $white;
      border-radius: 1.4375rem;
      & > * {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 0.5rem;
        height: 0.5rem;
        margin: -0.25rem 0 0 -0.25rem;
        background: $white;
        border-radius: 50%;
        animation: ani-mouse 2.5s linear infinite;
      }
    }
    p {
      display: block;
      font-weight: 700;
      font-size: 0.625rem;
      color: $white;
      letter-spacing: 0.125rem;
    }
  }
  @media (max-width: 767px) {
    h1 {
      animation: none;
      font-size: 3rem;
    }
  }
}

.about-section {
  .description {
    font-size: 1.2rem;
    font-family: "Karla";
  }
  @media (max-width: 767px) {
    .description {
      font-size: 1rem;
    }
  }
}

.skills-section {
  .category {
    span {
      font-size: 1rem;
      letter-spacing: 0.0625rem;
    }
  }
  .svg-tilt {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .skill-svg {
      height: 3.125rem;
    }
  }
  @media (max-width: 767px) {
    .svg-tilt {
      .skill-svg {
        height: 2.5rem;
      }
    }
  }
}

.experience-section {
  .overlay-text {
    font-size: 8rem;
  }
  .svg-tilt {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .skill-svg {
      height: 3.125rem;
    }
  }
  .timeline {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 50rem;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    svg {
      height: 100%;
    }
  }
}

.projects-section {
  width: 343.75rem;
  transform: translate(0, 0);
  padding-bottom: 0;
  will-change: transform;
  .sticky-title {
    position: absolute;
    left: 27vw;
    top: 10vh;
    z-index: -1;
    will-change: transform;
    .overlay-text {
      font-size: 8rem;
      left: 0;
      transform: translateX(-70%) translateY(118%) rotate(-90deg);
    }
  }
  .horizontal-container {
    display: flex;
    padding-left: 27vw;
    .project-wrappper {
      position: relative;
      display: block;
      width: 25rem;
      margin-right: 3rem;
      a {
        color: $white;
        text-decoration: none;
        .img-wrapper {
          overflow: hidden;
          position: relative;
          transition: 0.2s ease-in-out;
          img {
            display: block;
            width: 100%;
            z-index: 2;
            transform: scale(1);
            transition: 0.3s ease-in-out;
          }
        }
        .txt {
          padding-left: 1rem;
          margin-top: 1rem;
          border-left: 0.1875rem solid;
          opacity: 0;
          z-index: 1;
          transform: translateY(-3.125rem);
          transition: transform 0.2s, opacity 0.5s;
          h2 {
            font-variation-settings: 'wght' 600;
          }
          ul {
            font-family: "Karla";
            padding-left: 1.5rem;
          }
        }
      }
      &:hover {
        .txt {
          opacity: 1;
          transform: translateY(0);
        }
        .img-wrapper {
          img {
            transform: scale(1.1);
          }
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
            z-index: 10;
          }
        }
      }
    }
  }
}

.projects-section-mobile {
  .project-wrappper {
    position: relative;
    a {
      color: $white;
      text-decoration: none;
      .txt {
        padding-left: 1rem;
        margin-top: 1rem;
        border-left: 0.1875rem solid;
        opacity: 0;
        z-index: 1;
        transform: translateY(-3.125rem);
        transition: transform 0.2s, opacity 0.5s;
        h2 {
          font-variation-settings: 'wght' 600;
        }
        ul {
          font-family: "Karla";
          padding-left: 1.5rem;
        }
      }
    }
  }
  .active {
    .project-wrappper {
      .txt {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }
  }
}

.achievements-section {
  .overlay-img {
    position: sticky;
    width: 4.5rem;
    top: 3.75rem;
    left: 13vw;
  }
  .achievement {
    font-family: "Karla";
    position: relative;
    margin: 0.625rem;
    min-width: 19.375rem -3.75rem;
    max-width: 19.375rem;
    width: 100%;
    color: $white;
    text-align: left;
    background-color: $black;
    font-size: 1rem;
    overflow: hidden;
    filter: grayscale(1);
    transition: all 0.4s ease-in;
    margin-bottom: 2rem;

    * {
      box-sizing: border-box;
      transition: all 0.4s ease-in;
    }

    img {
      position: relative;
      max-width: 100%;
      vertical-align: top;
    }

    figcaption {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      padding: 1.25rem 1.875rem;
    }

    h3,
    p {
      line-height: 1.5em;
    }

    h3 {
      margin: 0 0 0.3125rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      font-size: 0.8em;
      font-weight: 500;
      margin: 0 0 0.9375rem;
    }

    .date {
      background-color: $white;
      color: $black;
      font-size: 1.125rem;
      font-weight: 800;
      min-height: 3rem;
      min-width: 3rem;
      padding: 0.625rem 0;
      position: absolute;
      right: 0.9375rem;
      text-align: center;
      text-transform: uppercase;
      top: 0;

      span {
        display: block;
        line-height: 0.875rem;
      }

      .month {
        font-size: 0.6875rem;
      }
    }

    &:hover {
      filter: grayscale(0);
    }

    &:hover img {
      opacity: 0.4;
    }

    &:hover .date {
      transform: translateY(-100%);
    }

    &:hover figcaption {
      opacity: 1;
    }
  }
}

.achievements-section-mobile {
  min-height: unset;
  .achievement {
    max-width: 100% !important;
    transition-delay: 1.5s;
    margin: 0 !important;
  }
  .active {
    .achievement {
      filter: grayscale(0);
      img {
        opacity: 0.4;
        transition-delay: 1.5s;
      }
      .date {
        transform: translateY(-100%);
        transition-delay: 1.5s;
      }
      figcaption {
        opacity: 1;
        transition-delay: 1.5s;
      }
    }
  }
}

.contact-section {
  padding-bottom: 1.875rem;
  .overlay-text {
    font-size: 8rem;
  }
  .img-wrapper {
    position: relative;
    transform-style: preserve-3d;
    img {
      width: 100%;
    }
    img.front {
      position: absolute;
      bottom: 0;
      left: 0;
      &.loaded {
        transform: translateZ(1.875rem) translateY(0.625rem) scale(0.9);
      }
    }
  }
  .subtitle {
    font-family: "Karla";
    font-weight: 400;
    font-size: 1rem;
  }
  .description {
    font-family: "Karla";
    font-weight: 700;
    font-size: 1.5rem;
    a {
      color: $white;
      &.cta {
        padding: 0.625rem 1.25rem;
        border: 0.125rem solid $white;
        text-transform: uppercase;
        font-size: 1rem;
        transition: 0.2s;
        &:hover {
          background-color: $white;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  a.social-link {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .with-love {
    font-size: 1rem;
    font-family: "Karla";
    text-align: center;
    img {
      height: 0.9rem;
      display: inline-block;
    }
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes flicker {
  97% {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 0.0625rem;
  }
  98% {
    color: white;
    -webkit-text-stroke-width: 0;
  }
  99% {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 0.0625rem;
  }
  100% {
    color: white;
    -webkit-text-stroke-width: 0;
  }
}

.enter {
  overflow-y: hidden;
  .char {
    display: inline-block;
    transition: transform 0.5s;
    transition-delay: calc(0.5s * var(--char-index) / var(--char-total));
    will-change: transform;
  }
  &[data-scroll="out"] {
    .char {
      transform: translateY(100%);
    }
  }
  &[data-scroll="in"] {
    .char {
      transform: translateY(0);
    }
  }
}

.img-enter[data-scroll="out"] .bg {
  visibility: hidden;
}
.img-enter[data-scroll="in"] {
  overflow: hidden;
  position: relative;
}
html[data-scroll-dir-y="-1"] {
  .img-enter[data-scroll="out"] .bg {
    visibility: visible;
  }
}
.img-enter[data-scroll="in"] .bg {
  transition-delay: 0.5s;
}
.img-enter[data-scroll="in"]:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #bd4a14, #df9124);
  animation: block 1s ease-in both;
}

@keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
  45%,
  55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}
