@import "../bootstrap/variables";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Movement";
  src: url("/assets/MovementV.ttf") format("truetype");
}

body {
  font-family: "Movement";
  background-color: black;
  padding: 0;
  overflow-x: hidden;
  color: $white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(94, 94, 94, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

::-moz-selection {
  color: $white;
  background: $gray-900;
}

::selection {
  color: $white;
  background: $gray-900;
}

#background {
  position: fixed;
  top: 0;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

nav {
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 10;
  .container {
    position: relative;
    .logo {
      a {
        .logo-title {
          font-variation-settings: "wght" 700, "SPAC" 100;
          letter-spacing: 1px;
          color: $white;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .outer-menu {
      z-index: 1;
      .checkbox-toggle {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 40px;
        height: 40px;
        opacity: 0;
        &:checked {
          + {
            .hamburger {
              > div {
                transform: rotate(135deg);
                &:before {
                  top: 0;
                  transform: rotate(90deg);
                }
                &:after {
                  top: 0;
                  transform: rotate(90deg);
                  opacity: 0;
                }
              }
            }
          }
          ~ {
            .menu {
              pointer-events: auto;
              visibility: visible;
              > div {
                transform: scale(1);
                transition-duration: 0.75s;
                > div {
                  opacity: 1;
                  transition: opacity 0.4s ease 0.4s;
                }
              }
            }
          }
          &:hover {
            + {
              .hamburger {
                > div {
                  transform: rotate(225deg);
                }
              }
            }
          }
        }
        &:hover {
          + {
            .hamburger {
              box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
      .hamburger {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        padding: 0.5em;
        border-radius: 0 0.12em 0.12em 0;
        cursor: pointer;
        transition: box-shadow 0.4s ease;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          position: relative;
          flex: none;
          width: 100%;
          height: 2px;
          background: $white;
          transition: all 0.4s ease;
          display: flex;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: inherit;
            transition: all 0.4s ease;
          }
          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: inherit;
            transition: all 0.4s ease;
            top: 10px;
          }
        }
      }
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
        backface-visibility: hidden;
        outline: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          width: 200vw;
          height: 200vw;
          color: $white;
          backdrop-filter: blur(10px);
          background: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          transition: all 0.4s ease;
          flex: none;
          transform: scale(0);
          backface-visibility: hidden;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
            overflow-y: auto;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            > ul {
              list-style: none;
              padding: 0 1em;
              margin: 0;
              display: block;
              max-height: 100vh;
              > li {
                padding: 0;
                margin: 1em;
                font-size: 24px;
                display: block;
                > a {
                  position: relative;
                  display: inline;
                  cursor: pointer;
                  transition: color 0.4s ease;
                  -webkit-text-stroke: $white;
                  color: transparent;
                  -webkit-text-stroke-width: 1px;
                  font-variation-settings: "wght" 800, "SPAC" 100;
                  font-size: 3rem;
                  &:hover {
                    color: #e5e5e5;
                    text-decoration: none;
                    -webkit-text-stroke-width: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.section {
  min-height: 100vh;
  padding: 70px 0;
  position: relative;
  display: flex;
  align-items: center;
  .title {
    font-size: 2rem;
    font-variation-settings: "wght" 700, "SPAC" 100;
  }
  .overlay-text {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    font-variation-settings: "wght" 800, "SPAC" 100;
    font-size: 10rem;
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    line-height: 1;
    animation: flicker 10s ease-in-out infinite alternate;
  }
  .line {
    width: 10rem;
    height: 2px;
    margin: 0;
    background-color: $white;
    animation: line-width 4s ease-in-out infinite alternate;
  }
}

.divider-200 {
  height: 200px;
}

.divider-100 {
  height: 100px;
}

.main-section {
  p {
    text-align: center;
    font-family: "Karla";
    font-weight: 700;
    font-size: 1.5rem;
  }
  h1 {
    text-align: center;
    font-variation-settings: "wght" 700, "SPAC" 100;
    font-size: 7rem;
    line-height: 1;
    animation: main-heading 5s infinite alternate ease-in;
  }
  .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    text-align: center;
    & > *:hover {
      color: $white;
      opacity: 0.8;
    }
    .mouse {
      position: relative;
      display: block;
      width: 17px;
      height: 34px;
      margin: 0 auto 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid $white;
      border-radius: 23px;
      & > * {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: $white;
        border-radius: 50%;
        animation: ani-mouse 2.5s linear infinite;
      }
    }
    p {
      display: block;
      font-weight: 700;
      font-size: 10px;
      color: $white;
      letter-spacing: 2px;
    }
  }
}

.about-section {
  .description {
    font-size: 1rem;
    font-family: Karla;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.075em;
  }
}

.skills-section {
  .category {
    span {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }
  .skill-svg {
    height: 50px;
  }
}

.experience-section {
  .overlay-text {
    font-size: 8rem;
  }
  .timeline {
    width: 90%;
    svg {
      height: 100%;
    }
  }
}

.projects-section {
  width: 5000px;
  transform: translate(0px, 0px);
  padding-bottom: 0;
  .sticky-title {
    position: absolute;
    left: 27vw;
    top: 10vh;
    z-index: -1;
    .overlay-text {
      font-size: 8rem;
      left: 0;
      transform: translateX(-70%) translateY(118%) rotate(-90deg);
    }
  }
  .horizontal-container {
    display: flex;
    padding-left: 27vw;
    .project-wrappper {
      position: relative;
      display: block;
      width: 400px;
      margin-right: 3rem;
      a {
        color: $white;
        text-decoration: none;
        .img-wrapper {
          overflow: hidden;
          position: relative;
          transition: 0.2s ease-in-out;
          img {
            display: block;
            width: 100%;
            z-index: 2;
            transform: scale(1);
            transition: 0.3s ease-in-out;
          }
        }
        .txt {
          padding-left: 1rem;
          margin-top: 1rem;
          border-left: 3px solid;
          opacity: 0;
          z-index: 1;
          transform: translateY(-50px);
          transition: transform 0.2s, opacity 0.5s;

          ul {
            font-family: Karla;
            padding-left: 1.5rem;
          }
        }
      }
      &:hover {
        .txt {
          opacity: 1;
          transform: translateY(0);
        }
        .img-wrapper {
          img {
            transform: scale(1.1);
          }
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
            z-index: 10;
          }
        }
      }
    }
  }
}

.contact-section {
  padding-bottom: 30px;
  .overlay-text {
    font-size: 8rem;
  }
  .img-wrapper {
    position: relative;
    transform-style: preserve-3d;
    img {
      width: 100%;
    }
    img.front {
      position: absolute;
      bottom: 0;
      left: 0;
      &.loaded {
        transform: translateZ(30px) translateY(10px) scale(0.9);
      }
    }
  }
  .subtitle {
    font-family: Karla;
    font-weight: 400;
    font-size: 1rem;
  }
  .description {
    font-family: Karla;
    font-weight: 700;
    font-size: 1.5rem;
    a {
      color: $white;
    }
  }
  a.social-link {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .with-love {
    font-size: 1rem;
    font-family: Karla;
    text-align: center;
    img {
      height: 0.9rem;
      display: inline-block;
    }
  }
}

@keyframes main-heading {
  0% {
    font-variation-settings: "wght" 500, "SPAC" 110;
  }
  100% {
    font-variation-settings: "wght" 700, "SPAC" 100;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes line-width {
  0% {
    width: 10rem;
  }
  100% {
    width: 15rem;
  }
}

@keyframes flicker {
  97% {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 1px;
  }
  98% {
    color: white;
    -webkit-text-stroke-width: 0;
  }
  99% {
    -webkit-text-stroke: $white;
    color: transparent;
    -webkit-text-stroke-width: 1px;
  }
  100% {
    color: white;
    -webkit-text-stroke-width: 0;
  }
}

.enter {
  overflow-y: hidden;
  .char {
    display: inline-block;
    transition: transform 0.5s;
    transition-delay: calc(0.5s * var(--char-index) / var(--char-total));
  }
  &[data-scroll="out"] {
    .char {
      transform: translateY(100%);
    }
  }
  &[data-scroll="in"] {
    .char {
      transform: translateY(0);
    }
  }
}

.img-enter[data-scroll="out"] .bg {
  visibility: hidden;
}
.img-enter[data-scroll="in"] {
  overflow: hidden;
  position: relative;
}
html[data-scroll-dir-y="-1"] {
  .img-enter[data-scroll="out"] .bg {
    visibility: visible;
  }
}
.img-enter[data-scroll="in"] .bg {
  transition-delay: 0.5s;
}
.img-enter[data-scroll="in"]:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #bd4a14, #df9124);
  animation: block 1s ease-in both;
}

@keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
  45%,
  55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
