@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans Medium Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"),
    url("/fonts/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Product Sans Black Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Regular"),
    url("/fonts/ProductSans-Black.woff") format("woff");
}

body {
  @apply bg-gray-900 text-white;
  cursor: none;
  font-family: "Product Sans Medium Regular";
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  scrollbar-color: black;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.375rem;
}
::-webkit-scrollbar-track {
  background: rgba(94, 94, 94, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

a,
input[type="checkbox"] {
  cursor: none !important;
}

.outer-menu {
  z-index: 1;

  .checkbox-toggle {
    z-index: 2;

    &:checked {
      + {
        .hamburger {
          > div {
            transform: rotate(135deg);
            &:before {
              top: 0;
              transform: rotate(90deg);
            }
            &:after {
              top: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
      ~ {
        .menu {
          pointer-events: auto;
          visibility: visible;
          > div {
            transform: scale(1);
            transition-duration: 0.75s;
            > div {
              opacity: 1;
              transition: opacity 0.4s ease 0.4s;
            }
          }
        }
      }
      &:hover {
        + {
          .hamburger {
            > div {
              transform: rotate(225deg);
            }
          }
        }
      }
    }
  }
  .hamburger {
    z-index: 1;
    backface-visibility: hidden;

    > div {
      height: 0.125rem;
      transition: all 0.4s ease;
      -webkit-box-pack: center;
      &:before,
      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        top: -0.5rem;
        height: 0.125rem;
        background: inherit;
        transition: all 0.4s ease;
      }
      &:after {
        top: 0.5rem;
      }
    }
  }
  .menu {
    backface-visibility: hidden;
    outline: 0.0625rem solid transparent;
    > div {
      width: 250vw;
      height: 250vw;
      transform: scale(0);
      border-radius: 50%;
      transition: all 0.4s ease;
      backface-visibility: hidden;
      backdrop-filter: blur(0.625rem);
      -webkit-backdrop-filter: blur(0.625rem);
      background: rgba(0, 0, 0, 0.5);
      @supports not (backdrop-filter: blur(0.625rem)) {
        background: rgba(0, 0, 0, 0.8);
      }

      > div {
        max-width: 90vw;
        transition: opacity 0.4s ease;
      }
      ul {
        li {
          a {
            background: linear-gradient(
              90deg,
              #ffffff 0%,
              #ffffff 50%,
              #6dd5ed 51%,
              #2193b0 100%
            );
            background-size: 200% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            &:hover {
              background-position: 100% 0;
            }
          }
        }
      }
    }
  }
}

.progress {
  height: 0.1875rem;

  .progress-bar {
    height: 0.2rem;
    @apply w-0 bg-white;
  }
}

.text-gradient {
  background: linear-gradient(90deg, #6dd5ed 0%, #2193b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}