@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

html {
  scroll-behavior: smooth;
}

.outer-menu {
  z-index: 1;

  .checkbox-toggle {
    z-index: 2;

    &:checked {
      + {
        .hamburger {
          > div {
            transform: rotate(135deg);
            &:before {
              top: 0;
              transform: rotate(90deg);
            }
            &:after {
              top: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
      ~ {
        .menu {
          pointer-events: auto;
          visibility: visible;
          > div {
            transform: scale(1);
            transition-duration: 0.75s;
            > div {
              opacity: 1;
              transition: opacity 0.4s ease 0.4s;
            }
          }
        }
      }
      &:hover {
        + {
          .hamburger {
            > div {
              transform: rotate(225deg);
            }
          }
        }
      }
    }
  }
  .hamburger {
    z-index: 1;
    backface-visibility: hidden;

    > div {
      height: 0.125rem;
      transition: all 0.4s ease;
      -webkit-box-pack: center;
      &:before,
      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        top: -0.5rem;
        height: 0.125rem;
        background: inherit;
        transition: all 0.4s ease;
      }
      &:after {
        top: 0.5rem;
      }
    }
  }
  .menu {
    backface-visibility: hidden;
    outline: 0.0625rem solid transparent;
    > div {
      width: 250vw;
      height: 250vw;
      transform: scale(0);
      border-radius: 50%;
      transition: all 0.4s ease;
      backface-visibility: hidden;
      backdrop-filter: blur(0.625rem);
      -webkit-backdrop-filter: blur(0.625rem);
      background: rgba(0, 0, 0, 0.5);
      @supports not (backdrop-filter: blur(0.625rem)) {
        background: rgba(0, 0, 0, 0.8);
      }

      > div {
        max-width: 90vw;
        transition: opacity 0.4s ease;
      }
    }
  }
}
